### comentario ###
### configuracao de ide ###
.idea/
.vscode/

### configuracao do maven instalado ###
.mvn/
mvnw.cmd
mvnw

### configuracao do spring boot atraves do arquivo de propriedades ###
src/main/resources/application.properties

### diretorios de compilacoes do projeto ###
target/

### arquivos ocultos insalados no projeto ###
*.iml
*.log

